<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Blinq menu</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-tasks'></span> Dashboard
                    </a>
                </li>
              <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/monitoring"]' (click)='collapse()'>
                  <span class='glyphicon glyphicon-eye-open'></span> Monitoring
                </a>
              </li>
              <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/statistics"]' (click)='collapse()'>
                  <span class='glyphicon glyphicon-signal'></span> Statistics
                </a>
              </li>
              <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/workers"]' (click)='collapse()'>
                  <span class='glyphicon glyphicon-user'></span> Workers
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
